<configuration>
	<appSettings>
		<add key="ModbusIpAddress" value="100.70.158.83" />
		<add key="EventHubConnectionString" value="Endpoint=sb://altoeventhub.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=A3cbJ4/M+G5Dag7azflw+y/BFTQIxb5p7+AEhPCAIm4=" />
		<add key="EventHubName" value="universaleventhub" />
		<add key="BlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=fileuploadfortag;AccountKey=88C1STxoYt4OTOVMHcSpENP6XOw1BTIlAPcarh7npU5HjPUBlzs6dB+0DMG42+B6PDWUnbTu7CT5+AStFUTOsA==;EndpointSuffix=core.windows.net" />
		<add key="BlobContainerName" value="cnlogforaramcopoc" />
		<add key="IntervalInSeconds" value="30" />
	</appSettings>
</configuration>
